[hidden] { display: none !important; }
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  margin:0px;
}
h3 {
  margin-top: 10px;
  margin-bottom:10px;
}
input {
  margin-bottom:6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  margin-bottom:6px;
}

select {
  margin-bottom:6px;
}

button {
  border-style:none;
}
