
/* #map {
  height: 50vh;
  width:100vw;
} */

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.lead-form-input {
  /* width:85%; */
}

/* .sales-form {
  display:none;
}

@media screen and (max-width: 600px) {
  .sales-form {
    display:block
  }
} */

/* @media screen and (min-width: 600px) {

} */
